{% extends 'admin/community/layout.html.twig' %}

{% block title %}
    {{ parent() }} - My Tricks
{% endblock %}

{% block body_id 'admin_trick_index' %}

{% block aside %}
    <a href="{{ path('admin_trick_new') }}" class="btn btn-lg btn-block btn-info">
        <i class="fa fa-plus pr-2" aria-hidden="true"></i>Create a Trick
    </a>
{% endblock %}

{% block community_body %}
    <h2>My Tricks</h2>

    <div class="row pt-4">
        {% for trick in tricks %}
            <div class="col-lg-6">
                <div class="card mb-4">
                    <div class="position-absolute ml-3 mt-3">
                        <a class="btn btn-sm btn-light mb-3" href="{{ path('admin_trick_edit', {slug: trick.slug}) }}">
                            <i class="fa fa-pencil fa-lg mx-2" aria-hidden="true"></i>
                        </a>
                        <button type="button" class="btn btn-sm btn-dark mb-3" data-toggle="modal" data-target="#confirmationModal">
                            <i class="fa fa-trash fa-lg mx-2" aria-hidden="true"></i>
                        </button>
                        {{ include('admin/community/_delete_trick_confirmation.html.twig') }}
                    </div>

                    <a class="text-dark" href="{{ path('trick_show', {'slug': trick.slug}) }}">
                        {% for image in trick.images[:1] %}
                            <img class="card-img-top img-fluid" src="{{ asset('uploads/images/' ~ image.filePath) }}" alt="{{ image.alt }}">
                        {% endfor %}
                        <div class="card-body py-3">
                            {% for category in trick.categories %}
                                <span class="badge badge-pill badge-{{ category.slug }}">{{ category.name|upper }}</span>
                            {% endfor %}
                        </div>
                        <div class="card-body d-flex justify-content-between pt-0">
                            <h4 class="card-title mb-0">{{ trick.title }}</h4>
                            <span><i class="fa fa-chevron-right" aria-hidden="true"></i></span>
                        </div>
                    </a>
                </div>
            </div>
        {% endfor %}
    </div>
    {# Pagination  #}
    {{ include('community/_pagination.html.twig') }}
{% endblock %}
