{# Visible only on xs #}
<div class="row d-block d-sm-none">
    <nav class="col">
        <ul class="pagination justify-content-{% if page == 1 %}end{% else %}between{% endif %}">
            {% if page > 1 %}
                <li class="page-item">
                    <a class="page-link" href="{{ path('trick_index_paginated', {'page': page - 1}) }}">
                        Previous
                    </a>
                </li>
            {% endif %}
            {% if page < nbPages %}
                <li class="page-item">
                    <a class="page-link" href="{{ path('trick_index_paginated', {'page': page + 1}) }}">
                        Next
                    </a>
                </li>
            {% endif %}
        </ul>
    </nav>
</div>
{# Hidden only on xs#}
<div class="row d-none d-sm-block">
    <nav class="col">
        <ul class="pagination justify-content-center">
            {% if page > 1 %}
                <li class="page-item">
                    <a class="page-link" href="{{ path('trick_index_paginated', {'page': page - 1}) }}">
                        Previous
                    </a>
                </li>
            {% endif %}
            {% for p in range(1, nbPages) %}
                <li class="page-item{% if p == page %} active{% endif %}">
                    <a class="page-link" href="{{ path('trick_index_paginated', {'page': p}) }}">{{ p }}</a>
                </li>
            {% endfor %}
            {% if page < nbPages %}
                <li class="page-item">
                    <a class="page-link" href="{{ path('trick_index_paginated', {'page': page + 1}) }}">
                        Next
                    </a>
                </li>
            {% endif %}
        </ul>
    </nav>
</div>