{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} - Sign Up
{% endblock %}

{% block body_id 'register' %}

{# Don't display header and footer #}
{% block header %}{% endblock %}
{% block footer %}{% endblock %}

{% block body %}
    <div class="container text-center py-4">
        <div class="row">
            {{ form_start(form, {'attr': {'class': 'form-register'}}) }}
                <a href="{{ path('homepage') }}">
                    <img class="rounded mb-4" src="{{ asset('logo/st-logo-m.png') }}" alt="SnowTricks Logo">
                </a>

                <h1 class="h3 mb-3">Sign Up</h1>

                {{ form_row(form.fullName) }}
                {{ form_row(form.email) }}
                {{ form_row(form.username) }}
                {{ form_row(form.password) }}

                <button class="btn btn-lg btn-primary btn-block my-3" type="submit" formnovalidate>Sign Up</button>

                <div class="d-flex flex-column mb-3">
                    <a class="text-muted mb-3" href="{{ path('login') }}">Already have an account? Sign In!</a>
                </div>
                <div class="text-left mt-2">
                    <a class="text-dark" href="{{ path('homepage') }}">Back<i class="fa fa-long-arrow-left ml-2" aria-hidden="true"></i></a>
                </div>
                <p class="mt-5 mb-3 text-muted">© 2017 SnowTricks</p>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
