{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} - Log In
{% endblock %}

{% block body_id 'login' %}

{# Don't display header and footer #}
{% block header %}{% endblock %}
{% block footer %}{% endblock %}

{% block body %}
    <div class="container text-center py-4">
        <div class="row">
            <form class="form-login" action="{{ path('login') }}" method="post">
                <a href="{{ path('homepage') }}">
                    <img class="rounded mb-4" src="{{ asset('logo/st-logo-m.png') }}" alt="SnowTricks Logo">
                </a>

                <h1 class="h3 mb-3">Sign In</h1>

                {% if error %}
                    <div class="alert alert-danger">
                        {{ error.message }}
                    </div>
                {% endif %}

                <div class="form-group">
                    <label for="username" class="sr-only">Username</label>
                    <input type="text" id="username" name="_username" value="{{ last_username }}" placeholder="Username or Email" autofocus="" autocomplete="off" class="form-control">
                </div>
                <div class="form-group mb-2">
                    <label for="password" class="sr-only">Password</label>
                    <input type="password" id="password" name="_password" placeholder="Password" autocomplete="off" class="form-control">
                </div>
                <div class="form-check text-left pl-1">
                    <input type="checkbox" id="remember_me" name="_remember_me" checked />
                    <label for="remember_me">Remember Me</label>
                </div>
                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}"/>

                <button class="btn btn-lg btn-primary btn-block my-3" type="submit">Sign In</button>

                <div class="d-flex flex-column mb-3">
                    <a class="text-muted mb-3" href="{{ path('user_register') }}">No account yet? Sign Up!</a>
                </div>
                <div class="text-left mt-2">
                    <a class="text-dark" href="{{ path('homepage') }}">Back<i class="fa fa-long-arrow-left ml-2" aria-hidden="true"></i></a>
                </div>
                <p class="mt-5 mb-3 text-muted">© 2017 SnowTricks</p>
            </form>
        </div>
    </div>
{% endblock %}
